* {
    user-select: none;
    -ms-user-select: none;
    outline: 0;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
}

canvas {
    width: 100%;
    height: 100%;
}

div {
    margin: 5px 10px;
}

div.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    z-index: 0;
    width: 240px;
    border-radius: 10px;
    color: white;
}
